<%- include('./components/head') %>
<%- include('./components/sidebar') %>
<div class="wrapper" id="followreplylist">
  <div class="clearfix" style="margin-bottom: 15px;">
    <button class="btn btn-success btn-outline pull-right" data-toggle="modal" data-target="#addModal" @click="addInit()">新建回复</button>
  </div>
  <table class="table">
    <tr>
      <th>序号</th>
      <th>名称</th>
      <th>说明</th>
      <th>内容类型</th>
      <th>回复内容</th>
      <th>创建时间</th>
      <th>修改时间</th>
      <th>操作</th>
    </tr>
    <tr v-for="(item,index) in msg">
      <td><input type="checkbox" :value="item._id" v-model="batch_id">{{index+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.explain}}</td>
      <td v-if="item.type==0">图片</td>
      <td v-else-if="item.type==2">音频</td>
      <td v-else-if="item.type==3">视频</td>
      <td v-else-if="item.type==4">文字</td>
      <td>{{item.content}}</td>
      <td>{{item.meta.createAt | formatTime}}</td>
      <td>{{item.meta.updateAt | formatTime}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-primary btn-outline" @click="usingedTip()"  v-if="item.using==0">已启用</button>
          <button class="btn btn-primary btn-outline" @click="use(item._id,index)"  v-if="item.using==1">未启用</button>
          <button class="btn btn-info btn-outline" @click="updateInit(index)" data-toggle="modal" data-target="#addModal">修改</button>
          <button class="btn btn-danger btn-outline" @click="dodelete(item._id,index)">删除</button>
        </div>
      </td>
    </tr>
  </table>
  <div class="btn-group">
    <button class="btn btn-danger btn-outline" @click="batchDel()">批量删除</button>
  </div>
  <nav aria-label="..." class="common-pagination">
    <ul class="pagination">
      <li><span @click="gotoPage(page-1,0)">«</span></li>
      <li v-for="n in totalpage" :class="{'active':n==page}"><span @click="gotoPage(n)">{{n}}</span></li>
      <li><span @click="gotoPage(page+1,0)">»</span></li>
    </ul>
  </nav>
  <!--Modal-->
  <div class="modal fade" id="addModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form method="post" action="/followreply/create" enctype="multipart/form-data">
            <div class="form-group">
              <label>名称</label>
              <input type="text" name="followreplyname" class="form-control" v-model="addname">
            </div>
            <div class="form-group">
              <label>说明</label>
              <textarea name="followreplyexplain" rows="3" class="form-control" v-model="addexplain"></textarea>
            </div>
            <div class="form-group">
              <label>回复类型</label>
              <select v-model="addtype" class="form-control">
                <option v-for="option in typeoptions" :value="option.value">
                  {{ option.text }}
                </option>
              </select>
              <div class="chosepic-box clearfix" style="margin-top:15px" v-if="addtype==0">
                <div class="pic pull-left text-center" v-for="item in msg_0">
                  <div class="img" :style="{backgroundImage:'url(' + item.url + ')'}"></div>
                  <p class="title">{{item.name}}</p>
                  <input type="radio" :value="item.media_id" v-model="addmedia_id">
                </div>
              </div>
              <div class="chosepic-box clearfix" style="margin-top:15px" v-if="addtype==1">
                <div class="pic pull-left text-center" v-for="item in msg_1">
                  <div class="img" :style="{backgroundImage:'url(' + item.thumburl + ')'}"></div>
                  <p class="title">{{item.name}}</p>
                  <input type="radio" :value="item.media_id" v-model="addmedia_id">
                </div>
              </div>
              <div class="chosepic-box clearfix" style="margin-top:15px" v-if="addtype==2">
                <div class="pic pull-left text-center" v-for="item in msg_2">
                  <audio :src="item.url" width="100%" controls="controls"></audio>
                  <p class="title">{{item.name}}</p>
                  <input type="radio" :value="item.media_id" v-model="addmedia_id">
                </div>
              </div>
              <div class="chosepic-box clearfix" style="margin-top:15px" v-if="addtype==3">
                <div class="pic pull-left text-center" v-for="item in msg_3">
                  <video :src="item.url" width="100%" controls="controls"></video>
                  <p class="title">{{item.name}}</p>
                  <input type="radio" :value="item.media_id" v-model="addmedia_id">
                </div>
              </div>
              <textarea class="form-control" rows="3" style="margin-top: 15px;" v-model="addtext" v-if="addtype==4"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" @click="createReply()" v-if="updatestate==0">确认</button>
              <button type="button" class="btn btn-primary" @click="doupdate()" v-else>确认</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  new Vue({
    el: '#followreplylist',
    data: {
      totalpage: 0,
      page: 1,
      msg: '',
      batch_id: [],
      addtype: '-1',
      addname: '',
      addexplain: '',
      addmedia_id: '',
      addtext: '',
      updatestate: 0,
      updateid:'',
      typeoptions: [
        {text: '未选择', value: '-1'},
        {text: '图片', value: '0'},
        {text: '音频', value: '2'},
        {text: '视频', value: '3'},
        {text: '文字', value: '4'}
      ],
      msg_0: '',
      msg_2: '',
      msg_3: '',
      totalpage_0: 0,
      page_0: 1,
      totalpage_2: 0,
      page_2: 1,
      totalpage_3: 0,
      page_3: 1,
      totalpage_4: 0,
      page_4: 1
    },
    methods: {
      batchDel(use){
        var that = this;
        if(that.batch_id.length==0){
          alert('请选择');
        }else{
          that.$http.post('/followreply/del', {id: that.batch_id}).then(response => {
            if (response.body.errcode == 0) {
              alert('操作成功');
              that.msg.forEach(function(item_0,index_0){
                that.batch_id.forEach(function(item_1,index_1){
                  if(item_0==item_1){
                    that.msg.splice(index_0,1);
                  }
                })
              })
              that.batch_id = [];
            } else {
              alert('操作失败');
            }
          }, response => {
            alert('操作成功');
          })
        }
      },
      doupdate(){
        var that = this;
        that.$http.post('/followreply/update', {
          followreplyid:that.updateid,
          followreplyname: that.addname,
          followreplyexplain: that.addexplain,
          followreply: that.addfollowreply,
          followreplytype: that.addtype,
          followreplytext: that.addtext,
          followreplymedia_id: that.addmedia_id
        }).then(response=> {
          if (response.body.errcode == 0) {
            alert('更新成功');
            location = "/followreply/list";
          }else{
            alert('更新失败');
          }
        }, response=> {
          alert('更新失败');
        })
      },
      addInit(){
        var that = this;
        that.addtype = '';
        that.addname = '';
        that.addexplain = '';
        that.addfollowreply = '';
        that.addmedia_id = '';
        that.addtext = '';
        that.updatestate = 0;
        that.updateid = '';
      },
      updateInit(index){
        var that = this;
        var item = that.msg[index];
        that.addtype = item.type;
        that.addname = item.name;
        that.addexplain = item.explain;
        that.addfollowreply = item.followreply;
        that.addmedia_id = item.media_id;
        if(item.type==4){
          that.addtext = item.content;
        }
        that.updatestate = 1;
        that.updateid = item._id;
      },
      dodelete(id, index){
        var that = this;
        that.$http.post('/followreply/del', {id: id}).then(response=> {
          if (response.body.errcode == 0) {
            alert('删除成功');
            that.msg.splice(index, 1);
          } else {
            alert('删除失败');
          }
        }, response=> {
          alert('删除失败');
        })
      },
      use(id, index){
        var that = this;
        that.$http.post('/followreply/use', {id: id}).then(response=> {
          if (response.body.errcode == 0) {
            alert('操作成功');
            that.msg.forEach(function(item){
              item.using = 1;
            })
            that.msg[index].using = 0;
          } else {
            alert('操作失败')
          }
        }, response => {
          alert('操作失败');
        })
      },
      usingedTip(){
        alert('你已启用');
      },
      disabledTip(){
        alert('你已禁用');
      },
      createReply(){
        var that = this;
        that.$http.post('/followreply/create', {
          followreplyname: that.addname,
          followreplyexplain: that.addexplain,
          followreply: that.addfollowreply,
          followreplytype: that.addtype,
          followreplytext: that.addtext,
          followreplymedia_id: that.addmedia_id
        }).then(response=> {
          if (response.body.errcode == 0) {
            alert('新增成功');
            location = "/followreply/list";
          }else{
            alert('新增失败');
          }
        }, response=> {
          alert('新增失败');
        })
      },
      getMsg(type, limit){
        var that = this;
        var limit = limit || 10;
          that.$http.post('/material/list', {page: 1, type: type, limit: limit}).then(response => {
            if (type == 0) {
              that.totalpage_0 = response.body.totalpage;
              that.msg_0 = response.body.materials;
            } else if (type == 2) {
              that.totalpage_2 = response.body.totalpage;
              that.msg_2 = response.body.materials;
            } else if (type == 3) {
              that.totalpage_3 = response.body.totalpage;
              that.msg_3 = response.body.materials;
            } else if (type == 4) {
              that.totalpage_4 = response.body.totalpage;
              that.msg_4 = response.body.materials;
            }
          }, response => {
            alert('请求失败');
          });
      },
      gotoPage(page){
        var that = this;
        if (page < 1) {
          alert('当前已经是第一页');
          return false
        } else if (page > that.totalpage) {
          alert('当前已经是最后一页');
          return false
        } else if (page == that.page) {
          alert('已经是当前页');
          return false
        } else {
          that.$http.post('/followreply/outputlist', {page: page}).then(response => {
            that.totalpage = response.body.totalpage;
            that.msg = response.body.followreplys;
            that.page = page;
          }, response => {
            alert('请求失败');
          });
        }
      },
      gotoMediaPage(page, type, limit){
        var that = this;
        var limit = limit || 10;
          if (type == 0) {
            if (page < 1) {
              alert('当前已经是第一页');
              return false;
            } else if (page > that.totalpage_0) {
              alert('当前已经是最后一页');
              return false;
            } else if (page == that.page_0) {
              alert('已是当前页');
              return false;
            } else {
              that.$http.post('/material/list', {page: page, type: type, limit: limit}).then(response => {
                that.msg_0 = response.body;
                that.page_0 = page;
              }, response => {
                alert('请求失败');
              });
            }
          } else if (type == 2) {
            if (page < 1) {
              alert('当前已经是第一页');
              return false;
            } else if (page > that.totalpage_2) {
              alert('当前已经是最后一页');
              return false;
            } else if (page == that.page_2) {
              alert('已是当前页');
              return false;
            } else {
              that.$http.post('/material/list', {page: page, type: type, limit: limit}).then(response => {
                that.msg_2 = response.body;
                that.page_2 = page;
              }, response => {
                alert('请求失败');
              });
            }
          } else if (type == 3) {
            if (page < 1) {
              alert('当前已经是第一页');
              return false;
            } else if (page > that.totalpage_3) {
              alert('当前已经是最后一页');
              return false;
            } else if (page == that.page_3) {
              alert('已是当前页');
              return false;
            } else {
              that.$http.post('/material/list', {page: page, type: type, limit: limit}).then(response => {
                that.msg_3 = response.body;
                that.page_3 = page;
              }, response => {
                alert('请求失败');
              });
            }
          } else if (type == 4) {
            if (page < 1) {
              alert('当前已经是第一页');
              return false;
            } else if (page > that.totalpage_4) {
              alert('当前已经是最后一页');
              return false;
            } else if (page == that.page_4) {
              alert('已是当前页');
              return false;
            } else {
              that.$http.post('/material/list', {page: page, type: type, limit: limit}).then(response => {
                that.msg_4 = response.body;
                that.page_4 = page;
              }, response => {
                alert('请求失败');
              });
            }
          }
      },
    },
    created() {
      var that = this;
      that.getMsg(0, 4);
      that.getMsg(2, 4);
      that.getMsg(3, 4);
      that.$http.post('/followreply/outputlist', {page: 1}).then(response => {
        that.totalpage = response.body.totalpage;
        that.msg = response.body.followreplys;
      }, response => {
        alert('请求失败');
      });
    },
    filters: {
      formatTime (value) {
        return moment(value).format('YYYY/MM/DD')
      }
    }
  })
</script>
</body>
</html>